# Application
NODE_ENV=development
PORT=3001
API_PREFIX=api/v1

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=lutte_ebola
DB_PASSWORD=change_me_in_production
DB_NAME=lutte_ebola_db

# JWT
JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGINS=http://localhost:3000

# Initial Super Admin (used by seed)
SEED_ADMIN_EMAIL=admin@lutte-ebola.org
SEED_ADMIN_PASSWORD=Admin@12345
